<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div>
            <label>
                Search for a movie or TV show: 
                <input type="text" 
                ng-model="movieTitle" 
                name="movieTitle" 
                ng-required="true"
                placeholder="Enter a full movie title"/>
            </label>
            <!-- <span class="error-message" ng-show="movieTitle.$dirty && movieTitle.$error.required">You must enter a movie title to search</span> -->
            <button ng-click="apiCall(movieTitle)">Search</button>
        </div>

        <!-- Single movie search Results -->
        <div ng-hide="!details">
            <!-- <p>Search Results for {{movieTitle}}: </p> -->
            <h1>{{details.Title}}</h1>
            <h2>{{details.Year}}</h2>
            <h4 ng-hide="details.Director === 'N/A' ">Directed by {{details.Director}}</h4>
            <p">Starring {{details.Actors}}</p>
            <img src={{details.Poster}}>
            <p>{{details.Plot}}</p>
            <p>{{details.Rated}} | {{details.Runtime}}</p>

            <div class="reviews">
                <ul>
                    <li ng-repeat="rating in details.Ratings">{{rating.Source}}: {{rating.Value}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of single movie search results -->

        <!-- Related titles search -->
        <div ng-hide="!related.data.Search">
            <h4>Related Results for {{movieTitle}}: </h4>
            <ul>
                <li ng-repeat="movie in related.Search">
                    {{movie.Title}} {{movie.Year}}
                </li>
            </ul>
        </div>
        <!-- End of related titles -->
    </div>
    <script src="app.js"></script>
</body>

</html>