<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div>
            <label>
                Search for a movie: 
                <input type="text" 
                ng-model="movieTitle" 
                name="movieTitle" 
                ng-required="true"
                placeholder="Enter a full movie title"/>
            </label>
            <!-- <span class="error-message" ng-show="movieTitle.$dirty && movieTitle.$error.required">You must enter a movie title to search</span> -->
            <button ng-click="apiCall(movieTitle)">Search</button>
        </div>

        <!-- Last Name: <input type="text" ng-model="lastName" /><br />
        <br />
        Full Name: {{firstName + " " + lastName}}
        <br />
        <ul ng-repeat="name in names">
            <li>{{name.firstName}} {{name.lastName}}</li>
        </ul> -->

        <div>
            <!-- <p>Search Results for {{movieTitle}}: </p> -->
            <h1>{{details.Title}}</h1>
            <h2>{{details.Year}}</h2>
            <h4 ng-hide="!details.Director">Directed by {{details.Director}}</h4>
            <p ng-hide="!details.Actors">Starring {{details.Actors}}</p>
            <img src={{details.Poster}}>
        </div>

        <!-- <div>
            <h4>Related Results for {{movieTitle}}: </h4>
            <ul>
                <li ng-repeat="movie in related.Search">
                    {{movie.Title}} {{movie.Year}}
                </li>
            </ul>
        </div> -->
    </div>
    <script src="app.js"></script>
</body>

</html>