body {
    background-color: #ebf5f5;
    color: #00012f;
   
}

.jumbotron {
    background-color: #062258;
    color: white
}

.search {
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    width:auto;
}

.heading {
    text-align: center;
    margin-bottom: 45px;
}

.card-right {
    align-items: center;
    height: 500px;
    padding-top: 100px;
    justify-content: center;
}