body {
    background-color: #ebf5f5;
    color: #00012f;
    font-family: Arial, Helvetica, sans-serif;
   
}

.jumbotron {
    background-color: #062258;
    color: white
}

.search-label {
    font-size: 22px;
}

.home-text {
    color: #062258;
    font-size: 18px;
    font-weight: bold;
}

.home-image {
    image-rendering: crisp-edges;
    margin-top: 20px;
}

.search {
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    width:auto;
}

.btn {
    background-color: #ca7c94;
    border-color: #9e88b0;
    color: #17090d;
}

.heading {
    text-align: center;
    margin-bottom: 45px;
}

.card-right {
    align-items: center;
    height: 520px;
    /* padding-top: 80px; */
    justify-content: center;
}

.year {
    font-size: 20px;
}

.related-list {
    margin-bottom: 40px;;
}

.advanced-card {
    justify-content: center;
    width: 500px;
}

.advanced-btn {
    border: none;
    background: none;
    color: #ca7c94;
}